*{
    box-sizing:border-box;
}
body{
    padding:0;
    margin: 0;
}
.fixed{
    position:fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.menu{
    width:100px;
    height:100px;
    background-color:#22F;
    border-radius:100px;
    cursor:pointer;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);
    transition:background-color 250ms, box-shadow 250ms;
}


.menu:hover{
    background-color:#F22;
}
.menu:active{
    background-color:darkred;
    box-shadow:0 0 0 #D00;
}

.menu:after, .menu:before{
    position:absolute;
    content:"";
    background-color:white;
    width:50px;
    height:6px;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:2px;
    box-shadow: 1px 1px 1px #222;
    z-index: 10;
    transition:box-shadow 250ms, transform 250ms, transform-origin 250ms, top 250ms, left 250ms;
}
.menu:before{
    top:40%;
}
.menu:after{
    top:60%;
}

.menu:hover:before{
    top:50%;
    left:50%;
    transform-origin:0 0;
    transform:rotateZ(225deg) translate(-50%,-50%);
    box-shadow:0 0 0 #000;
}
.menu:hover:after{
    top: 50%;
    left: 50%;
    transform-origin:0 0;
    transform:rotateZ(-225deg) translate(-50%,-50%);
    box-shadow:0 0 0 #000;
}
/*

.menu ul{
    position:absolute;
    top: -15px;
    left: 0;
    background-color: red;
    width:100px;
    height: 500px;
    z-index: -1;
    border-radius: 200px;
}
.menu ul li{
    display:none;
}*/
