body{
    font-family:"Courier New";
    background-color:#222;
    color:#0F0;
}
a{
    color:mediumaquamarine;
}
#selector{
    display:inline-block;
    position:relative;
    top: 5px;left: 5px;
    width:15px;
    height:30px;
    background-color:#0F0;
}